<!--     <header>
      <ul>
      <li class="left">Training</li>
      </ul>
      <ul>
        <li class="right">投稿する</li>
        <li class="right">ログイン</li>
        <li class="right">新規登録</li>
      </ul>
    </header> -->
    <div class="contents clearfix">
      <img src="" alt="テキスト" class="upper">
      <img src="" alt="テキスト" class="bottom">
    </div>

    <footer>
    </footer>