    <div class="contents">
      <div class="post" style="background-image: url();">テキスト</div>
      <div class="post" style="background-image: url();">テキスト</div>
    </div>

    <footer>
    </footer>