  <p>投稿する</p>
<div class="new_post">
  <%= form_tag("/tweets", method: "post") do %>
    <input placeholder="nickname" type="text" name="nickname" class="new_post_nickname">
    <input placeholder="image url" type="text" name="image" class="new_post_image">
    <textarea placeholder="text" name="text" class="new_post_text"></textarea>
  <% end %>
  <input value="sent" type="submit" class="sent_post">
</div>