html body {
  height: 100%;
}

h1 h2 h3 p {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.header {
  height: 60px;
  background-color: black;
  width: 100%;
}


.contents {
  margin: 0 auto;
  min-height: 900px;
  width: 600px;
}


.header-left {
  color: white;
  float: left;
  font-size: 20px;
  padding: 20px;
}

.header-right {
  color: white;
  float: right;
}

.header-right li {
  float: right;
  margin: 5px 8px;
}


.post {
  height: 300px;
  width: 500px;
  margin: 100px 0;
  background-color: gray;

}

footer {
  height: 60px;
  background-color: black;
  width: 100%;
}

.new_post {
  width: 500px;
  margin: 0 auto;
}

.new_post_nickname {
  height: 50px;
  width: 500px;
  float: left;
}

.new_post_image {
  height: 50px;
  width: 500px;
  float: left;
}

.new_post_text {
  height: 300px;
  width: 500px;
  float: left;
}

.sent_post {
  width: 500px;
  float: left;
  margin: 10px 4px;
}

p {
  text-align: center;
}

